# API
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Stripe
NEXT_PUBLIC_STRIPE_KEY=pk_test_your_stripe_key

# Socket.io
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# App
NEXT_PUBLIC_APP_NAME=City Shoes Store
NEXT_PUBLIC_CONTACT_EMAIL=info@cityshoes.store
NEXT_PUBLIC_CONTACT_PHONE=+250785634773